    
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f4f4;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  position: relative;
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 1rem;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}


.hamburger {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}


#menu-toggle {
  display: none;
}


.welcome {
  text-align: center;
  padding: 3rem 1rem;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.welcome h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.welcome p {
  font-size: 1.2rem;
  color: #555;
}


@media (max-width: 600px) {
  .hamburger {
    display: block;
  }

  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 1rem;
  }

  
  #menu-toggle:checked ~ .menu {
    display: flex;
  }

  .welcome h1 {
    font-size: 1.8rem;
  }

  .welcome p {
    font-size: 1rem;
  }
}


@media (min-width: 601px) and (max-width: 1024px) {
  .hamburger {
    display: block;
  }

  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 1rem;
  }

  #menu-toggle:checked ~ .menu {
    display: flex;
  }

  .welcome h1 {
    font-size: 2.2rem;
  }

  .welcome p {
    font-size: 1.1rem;
  }
}


@media (min-width: 1025px) {
  .menu {
    display: flex !important;
  }

  .hamburger {
    display: none;
  }

  .welcome h1 {
    font-size: 2.5rem;
  }

  .welcome p {
    font-size: 1.2rem;
  }
}

